################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Business/bin
/Business/obj
/Domain/bin
/Domain/obj
/Repository/bin
/Repository/obj
/Resources/bin
/Resources/obj
/MeuRh360/bin
/MeuRh360/obj
/packages/
/.vs/
